.footer {
  background-color: #1b1b1b;
  color: #fff;
  padding: 5px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 100px;
  margin-top: 20px;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-credits p {
  font-size: 14px;
  display: flex;
  justify-content: center; 
}