.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 0.1rem 0.5rem #ccc;
}

.logonav {
  width: 100px;
  margin-left: 50px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 50px;
}

.item {
  margin-right: 1rem;
}

.item a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size:large;
}

.item a:hover {
  color: #ff3333;
}
